@model trex.ViewModels.vmChangePassword

@{
    ViewBag.Title = "Change Password";
    Model.UserId = Model.User.Id;
   }

<h2>Change Password - @Model.User.Name</h2>


@using (Html.BeginForm("ChangePassword", "User", @Model, FormMethod.Post, new { @onsubmit = "return validateSamePasswords()" }))
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>User</h4>
        <hr />
        @Html.ValidationSummary(true)
        
        @Html.HiddenFor(model => model.User.Id)

        <div class="form-group">
            @Html.Label("Old Password", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.PasswordFor(model => model.OldPassword)
                @Html.ValidationMessageFor(model => model.OldPassword)
            </div>
        </div>

        <div class="form-group">
            @Html.Label("New Password", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.PasswordFor(model => model.NewPassword, new {@id = "newPassword1", @name = "pw1"})
                @Html.ValidationMessageFor(model => model.NewPassword)
            </div>
        </div>
        
         <div class="form-group">
            @Html.Label("Repeat New Password", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.PasswordFor(model => model.NewPassword, new {@id = "newPassword2", @name = "pw2"})
                @Html.ValidationMessageFor(model => model.NewPassword)
            </div>
        </div>
        <p class="input-validation-error" id="validationMessage"></p>
        
         <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Change Password" class="btn btn-default"/>
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>


<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>


<script>


    $(document).ready(
    );

    // always use jquery.
    // JQUERY - saves the day again
    function validateSamePasswords() {
        if ($("#newPassword1").val() != $("#newPassword2").val()) {
            $("#validationMessage").text( "New passwords do not match.");
            alert("New passwords do not match");
            alert($("#newPassword1").val());
            return false;
        } else {
            $("#validationMessage").innerText = "";
            alert($("#newPassword1").val());
            alert(" match");
            return true;
        }
    }
</script>

